# CMake
build/
cmake-build-*/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Compiled files
*.o
*.a
*.so
*.dylib

# Temporary files
*.swp
*~

# Build artifacts
build/

# clangd / editor cache
.cache/
compile_commands.json

# macOS
.DS_Store

#zip files
*.zip
